@{
    Layout = "Masterpage";
    ViewBag.Title = "Cadastro de Usuarios";
}
<h1>Seja Bem Vindo!</h1>

<form action="/Usuario/Cadastrar" method="POST">
    <div class="form-group">
        <label>
            Nome
            <input class="form-control" type="text" name="nome">
        </label>
        <label>
            Email
            <input class="form-control" type="text" name="email">
        </label>
        <label>
            Senha
            <input class="form-control" type="password" name="senha">
        </label>
        <label>
            Data de Nascimento
            <input class="form-control" type="date" name="dataDeNascimento">
        </label>
        <input class="btn btn-primary" type="submit" value="cadastrar">
    </div>
</form>