@model EstacionamentoWEB.ViewModels.EntradaViewModel
@{
    Layout = "Masterpage";
    ViewBag.Title = "Cadastro de Entrada";
}
<h1>Seja bem-vindo</h1>

<form action="/Home/RegistrarEntrada" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">
            Nome do Usuário
            <input class="form-control" id="exampleInputEmail1" type="text" name="nome">
        </label>
        <label for="exampleInputEmail1">
            Marca do Carro
            <select class="form-control" id="marca" name="marca" required>
                <option value="" disable selected>Selecione</option>
                @foreach (var marca in Model.Marcas)
                {
                    <option value="@marca.Nome">@marca.Nome</option>
                }
            </select>
        </label>
        <label for="exampleInputEmail1">
            Modelo do Carro
            <select class="form-control" id="modelo" name="modelo" required>
                <option value="" disable selected>Escolha</option>
                @foreach (var modelo in Model.Modelos)
                {
                    <option value="@modelo.Nome">@modelo.Nome</option>
                }
            </select>
        </label>
        <label for="exampleInputEmail1">
            Placa do Carro
            <input class="form-control" id="exampleInputEmail1" type="text" name="placa">
        </label>
        <label for="exampleInputEmail1">
            Dia e Hora da Entrada
            <input class="form-control" id="exampleInputEmail1" type="date" name="momentoDaEntrada">
        </label>
        <input id="botao" class="btn btn-primary" type="submit" value="cadastrar">
    </div>
</form>